*{
    text-align: center;
}

#gameHeader {
    font-size: 36px;
    color: blue;
    margin: 20px;
}
.container {
    margin:auto;
    background-color: plum;
    width: 600px;
    height: 600px;
    font-size: 22px;

}