* {
    text-align: center;
    font-display: Hello Heartche;
    src: url("https://www.fontspace.com/category/hello%20kitty?");
}

#gameHeader {
    font-size: 48px;
    /* margin-bottom: 20px; */
    padding-top: 30px;
}
body {
    background-image: url('./../../assets/images/sanrio.png');
    border-image-repeat: no-repeat;
}
.container {
    margin:auto;
    background-color: plum;
    width: 600px;
    height: 600px;
    font-size: 22px;

}
.container1 {
    margin: 20px;
}
button {
    margin:20px 10px;
    font-size: 36px;
}
.question {
    margin-bottom: 5px;
}
.options {
    margin-bottom: 15px;

}