*{
    text-align: center;
}

#gameHeader {
    font-size: 36px;
    color: blue;
    margin: 20px;
}
.container {
    margin:auto;
    background-color: plum;
    width: 600px;
    height: 600px;
    font-size: 22px;

}
.container1 {
    margin: 20px;
}
button {
    margin:20px 10px;
    font-size: 36px;
}
.question {
    margin-bottom: 5px;
}
.options {
    margin-bottom: 15px;

}